asgiref==3.7.2
Django==3.2
djangorestframework==3.14.0
dnspython==1.16.0
mysql-connector-python==8.0.33
mysqlclient==1.4.0
protobuf==3.20.3
pymongo==4.6.0
PyMySQL==1.1.0
pytz==2023.3.post1
sqlparse==0.2.4
typing_extensions==4.8.0
